.mew-mask { 
      -webkit-mask: url(https://mew.xyz/mew-mask-full.svg);
    mask: url(https://mew.xyz/mew-mask-full.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.site-max {
      margin-left: auto;
    margin-right: auto;
    max-width: 180rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
}